body {
  font-family: "PT Sans", sans-serif;
}

.weather-app {
  padding: 20px;
  max-width: 450px;
  color: #515151;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.temperature {
  float: right;
}

.div location {
  color: #eabb00;
}

h1,
h2,
h3,
li,
p {
  text-align: left;
}

ul {
  text-align: right;
  font-size: 10px;
}

li {
  font-size: 12px;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 18px;
  letter-spacing: 8px;
}

h3 i {
  font-size: 90px;
  margin-top: 0 auto;
  right: 60;
  color: #eabb00;
}

.temperature {
  position: relative;
  font-weight: 200;
}
.units {
  position: relative;
  top: -34px;
}
