body {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
  font-weight: 100;
  line-height: 28px;
}

h1,
h2,
h3,
li,
p {
  text-align: left;
}

h3 {
  font-size: 18px;
  letter-spacing: 8px;
}

h3 i {
  font-size: 90px;
  margin-top: 0 auto;
  right: 60;
  color: #eabb00;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.weather-app {
  max-width: 600px;
  margin: 30px 0 auto;
  padding: 30px;
  color: #515151;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(60deg, #f7d1a0 0%, #ffffff 100%);
}

.div location {
  color: #eabb00;
}

.temperature {
  position: relative;
  font-weight: 200;
  float: right;
}
.units {
  position: relative;
  top: -34px;
}
